:root {
	--max-width: 89.75rem;
	--max-width-mobile: 25rem;

	--color-white: #fff;
	--color-black: #000;
	--color-main: #13161b;
	--color-main2: #191e24;
	--color-major: #21a663;
	--color-major2: #0869b3;
	--color-light: #eeeeee;
	--color-red: #d02f44;
	--color-bg: #1a1d22;
	--color-silver: #9a9a9a;

	--font-minor: 'Unbounded', sans-serif;
	--font-major: 'Montserrat', sans-serif;
}
